label: "cp2k"
description: "installed on Ubuntu with 'sudo apt-get install cp2k'"
input_plugin: "cp2k"
on_computer: true
remote_abs_path: "/usr/bin/cp2k.popt"
computer: "localhost"
prepend_text: "export CP2K_DATA_DIR={{ codes_dir }}/data/cp2k/data"
append_text: " "
