label: "zeopp"
description: "Zeo++ cloned from https://github.com/mharanczyk/zeoplusplus"
input_plugin: "zeopp.network"
on_computer: true
remote_abs_path: "{{ codes_dir }}/bin/network_46ce745_ubu18"
computer: "localhost"
prepend_text: " "
append_text: " "
