label: "cp2k-6.1"
description: "CP2K 6.1 serial openmp-enabled executable"
input_plugin: "cp2k"
on_computer: true
remote_abs_path: "/usr/local/bin/cp2k.ssmp"
computer: "localhost-workhorse"
prepend_text: " "
append_text: " "
