label: "cp2k-5.1"
description: "CP2K 5.1 mpi executable installed via apt-get"
input_plugin: "cp2k"
on_computer: true
remote_abs_path: "/usr/bin/cp2k.popt"
computer: "localhost-workhorse"
prepend_text: "export CP2K_DATA_DIR=/usr/share/cp2k"
append_text: " "
