label: "ddec"
description: "chargemol_09_26_2017 precompiled linux/parallel binary from source forge"
input_plugin: "ddec"
on_computer: true
remote_abs_path: "/usr/local/bin/chargemol"
computer: "localhost-workhorse"
prepend_text: " "
append_text: " "
