label: "egulp-fc4d7b7"
description: "egulp cloned from https://github.com/danieleongari/egulp.git"
input_plugin: "qeq.qeq"
on_computer: true
remote_abs_path: "{{ codes_dir }}/bin/egulp_fc4d7b7_ubu18"
computer: "localhost"
prepend_text: " "
append_text: " "
