label: "eqeq"
description: "eqeq cloned from cloned from https://github.com/danieleongari/EQeq.git"
input_plugin: "qeq.eqeq"
on_computer: true
remote_abs_path: "{{ codes_dir }}/bin/eqeq_6490320"
computer: "localhost"
prepend_text: " "
append_text: " "
