label: "eqeq-52f5d23"
description: "eqeq cloned from cloned from https://github.com/danieleongari/EQeq.git (17 Oct 2018)"
input_plugin: "qeq.eqeq"
on_computer: true
remote_abs_path: "{{ codes_dir }}/bin/eqeq"
computer: "localhost"
prepend_text: " "
append_text: " "

