label: "pw"
description: "installed on Ubuntu with 'sudo apt-get install quantum-espresso'"
input_plugin: "quantumespresso.pw"
on_computer: true
remote_abs_path: "/usr/bin/pw.x"
computer: "localhost"
prepend_text: " "
append_text: " "
